body {
  font-family: Arial;
  margin: 0;
} 
* {
  box-sizing: border-box;
}
.header {
  padding: 60px;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
/*  the navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Column container */
.proj {  
  display: flex;
  flex-wrap: wrap;
}
/* main/first/second column */
.mainblock{
    background-color: rgb(236, 236, 236);
    height: 100%;
    width:100%;
    padding: 10px;
}
.first {
  flex: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
}
.second {
  flex: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
}
.block{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;  
}
/*image(img in first - img1 in second column), just for this example */
.img {
  background-color: #aaa;
  width: 100%;
  padding: 30px;
}
.img1 {
    background-color: #aaa;
    width: 96%;
    padding: 10px;
    margin-left: 10px;
  }
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
/* Responsive Flexbox - for phone (screen less than 700px )*/
@media screen and (max-width: 700px) {
  .proj, .navbar {   
    flex-direction: column;
  }
}
